.sort-icon {
  margin-right: 5px;
}

.sort-icon-desc {
  transform: rotate(180deg);
  transform-origin: center center;
}

.media img {
  border-radius: 50%;
}

.check-form {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #343A40;
  color: #fff;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #28A745;
  background-color: #2C8143;
}



.contextMenu {
  position: fixed;
  border-radius: .25rem;
}

.card {
  padding: 15px;
}

.btn-wrap {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

